* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    346deg,
    rgba(120, 17, 124, 1) 0%,
    rgba(167, 20, 182, 1) 50%,
    rgba(55, 70, 223, 1) 100%
  );
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-text {
  color: #fff;
  font-family: Consolas, monaco, monospace;
}

.game-list {
  display: flex;
  justify-content: center;
}

/* .game-list-bg {
  background: url("./img/bg.png") no-repeat center / cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

.game-list-container {
  position: relative;
  min-height: 90vh;
  width: 50vw;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
  gap: 15px;
}

.game {
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

.game:hover {
  transform: scale(1.02);
}

.game img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

/* ==================================== X/O ====================================== */
.xo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-xo {
  width: min(90vw, 400px);
  /* height: 70vh; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px 20px;
  padding-bottom: 20px;
  border: 1px solid #9e9e9e;
}

.game-xo h1 {
  text-align: center;
}

.game-xo input {
  width: 100%;
  padding: 7px 20px;
  margin: 10px 0px;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  border: none;
}

.game-xo button {
  width: 100%;
  padding: 5px 0px;
  border-radius: 5px;
  border: none;
  font-size: 19px;
  background: greenyellow;
}
